In [818]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
import pandas as pd

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'gjan5558'
    YOUR_PW     = '500346291'
    DB_LOGIN    = 'y20s1d2x01_'+YOUR_UNIKEY

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

In [819]:
db,conn = pgconnect()

connected

In [828]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Population")

#creating schema population
Population_schema = '''CREATE TABLE Population (   
   area_id VARCHAR(10) NOT NULL UNIQUE,
   area_name VARCHAR NOT NULL,
   "0-4" INTEGER,
   "5-9" INTEGER,
   "10-14" INTEGER,
   "15-19" INTEGER,
   "20-24" INTEGER,
   "25-29" INTEGER,
   "30-34" INTEGER,
   "35-39" INTEGER,
   "40-44" INTEGER,
   "45-49" INTEGER,
   "50-54" INTEGER,
   "55-59" INTEGER,
   "60-64" INTEGER,
   "65-69" INTEGER,
   "70-74" INTEGER,
   "75-79" INTEGER,
   "80-84" INTEGER,
   "85_and_over" INTEGER,
   total_persons INTEGER,
   females INTEGER,
   males INTEGER,
   PRIMARY KEY (area_id, area_name))
   '''
conn.execute(Population_schema)

In [829]:
population_data = pd.read_csv('PopulationStats2016.csv')

In [830]:
tqdm._instances.clear()

In [831]:
table_name = "population"
for chunk in tqdm(range(0, population_data.shape[0], 50)):
    population_data.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

 50%|█████     | 6/12 [01:31<01:31, 15.25s/it]
100%|██████████| 12/12 [02:09<00:00, 10.82s/it]

In [832]:
res = pd.read_sql_query("SELECT * FROM Population",conn)
res

,area_id,area_name,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,...,55-59,60-64,65-69,70-74,75-79,80-84,85_and_over,total_persons,females,males
0,101021007,Braidwood,225,245,212,196,120,129,188,179,...,389,316,335,250,160,71,74,3945,1945,2000
1,101021008,Karabar,569,598,562,602,584,589,589,558,...,581,487,396,273,216,101,87,8615,4355,4260
2,101021009,Queanbeyan,804,537,413,453,842,1240,1135,843,...,601,529,487,341,281,242,312,11235,5589,5646
3,101021010,Queanbeyan - East,386,270,203,240,386,530,514,356,...,345,249,191,143,102,55,47,5049,2455,2594
4,101021011,Queanbeyan Region,1126,1326,1300,1187,868,936,939,1105,...,1309,1108,905,522,286,126,90,17435,8555,8880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,128011605,Lilli Pilli - Port Hacking - Dolans Bay,172,211,275,273,225,137,112,155,...,246,201,161,125,84,66,52,3264,1660,1604
572,128011606,Woolaware - Burraneer,460,575,577,578,509,452,406,457,...,579,487,421,276,195,156,187,8084,4100,3984
573,128021607,Engadine,1333,1529,1283,1031,847,836,1120,1407,...,885,776,970,870,455,287,267,17434,8771,8663
574,128021608,Loftus - Yarrawarrah,503,572,532,447,459,389,419,467,...,434,454,385,298,254,128,102,7435,3780,3655
575,128021609,Woronora Heights,175,228,295,343,330,190,112,177,...,351,268,170,90,50,15,13,3749,1856,1893

In [833]:
#if you want to reset the table
conn.execute ("DROP TABLE IF EXISTS Neighbourhoods")

#creating schema neighbourhoods
neighbourhoods_schema = '''CREATE TABLE IF NOT EXISTS Neighbourhoods (
                   area_id VARCHAR(10) NOT NULL,
                   area_name VARCHAR NOT NULL,
                   land_area FLOAT,
                   population Integer,
                   number_of_dwellings Integer,
                   number_of_businesses Integer,
                   median_annual_household_income Integer,
                   avg_monthly_rent Integer,
                   PRIMARY KEY(area_id, area_name),
                   FOREIGN KEY(area_id) REFERENCES Population(area_id))'''
    
conn.execute(neighbourhoods_schema)
print(db.table_names())

['postcodes', 'measurementswk4', 'programming', 'measurementwk4', 'MeasurementWk4', 'spatial_ref_sys', 'healthservices', 'measurements', 'population', 'neighbourhoods', 'travel', 'observations', 'world', 'organisations', 'statisticalareas', 'testsites']

In [834]:
neighbourhoods_data = pd.read_csv('Neighbourhoods.csv')

neighbourhoods_data['number_of_businesses'] = neighbourhoods_data['number_of_businesses'].fillna(0).astype(int)
neighbourhoods_data['median_annual_household_income'] = neighbourhoods_data['median_annual_household_income'].fillna(0).astype(int)
neighbourhoods_data['avg_monthly_rent'] = neighbourhoods_data['avg_monthly_rent'].fillna(0).astype(int)
neighbourhoods_data.head()

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses,median_annual_household_income,avg_monthly_rent
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738,46996,1906
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907,42621,1682
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102,42105,1182
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666,43481,1595
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126,45972,1382

In [835]:
tqdm._instances.clear()

In [836]:
table_name = "neighbourhoods"
for chunk in tqdm(range(0, neighbourhoods_data.shape[0], 50)):
    neighbourhoods_data.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

100%|██████████| 7/7 [01:27<00:00, 12.56s/it]

In [843]:
res = pd.read_sql_query("SELECT * FROM Neighbourhoods",conn)
res

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses,median_annual_household_income,avg_monthly_rent
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738,46996,1906
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907,42621,1682
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102,42105,1182
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666,43481,1595
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126,45972,1382
...,...,...,...,...,...,...,...,...
307,128021537,Royal National Park,13933.4,28.0,4,3,0,1899
308,128021538,Sutherland - Kirrawee,775.5,21760.0,6924,2086,53378,1809
309,128021607,Engadine,895.4,17424.0,5219,1121,52667,1955
310,128021608,Loftus - Yarrawarrah,384.4,7426.0,2177,417,51243,2163
311,128021609,Woronora Heights,313.7,3681.0,1050,259,54935,2300

In [852]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Postcodes")

#creating schema healthservices
Postcodes_schema = '''CREATE TABLE Postcodes (
    id VARCHAR(6) NOT NULL,
    postcode VARCHAR(6) NOT NULL,
    locality VARCHAR,
    longitude FLOAT,
    latitude FLOAT,
    PRIMARY KEY(id, postcode))'''

conn.execute(Postcodes_schema)

In [853]:
postcodes_data = pd.read_csv('NSW_Postcodes.csv')

In [854]:
tqdm._instances.clear()

In [855]:
table_name = "postcodes"
for chunk in tqdm(range(0, postcodes_data.shape[0], 50)):
    postcodes_data.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

  4%|▍         | 5/113 [05:30<1:58:50, 66.02s/it]
  7%|▋         | 8/113 [01:46<21:13, 12.13s/it]

KeyboardInterrupt:

In [856]:
res = pd.read_sql_query("SELECT * FROM Postcodes",conn)
res

       id postcode             locality   longitude   latitude
0     458     1001               SYDNEY  151.268071 -33.794883
1     459     1002               SYDNEY  151.268071 -33.794883
2     460     1003               SYDNEY  151.268071 -33.794883
3     461     1004               SYDNEY  151.268071 -33.794883
4     462     1005               SYDNEY  151.268071 -33.794883
..    ...      ...                  ...         ...        ...
395  4327     2055         NORTH SYDNEY  151.104935 -33.802837
396  4328     2057            CHATSWOOD  151.189900 -33.791988
397  4329     2058  NORTHERN SUBURBS MC    0.000000   0.000000
398  4330     2059         NORTH SYDNEY  151.104935 -33.802837
399  4331     2060        HMAS PLATYPUS  151.204557 -33.839863

[400 rows x 5 columns]

In [858]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Healthservices")



#creating schema healthservices
healthservices_schema = '''CREATE TABLE Healthservices (
                   id INTEGER NOT NULL,
                   name VARCHAR NOT NULL,
                   category VARCHAR,
                   num_beds INTEGER,
                   address VARCHAR,
                   suburb VARCHAR,
                   state VARCHAR(3),
                   postcode VARCHAR(4),
                   longitude FLOAT,
                   latitude FLOAT,
                   comment VARCHAR,
                   website VARCHAR,
                   PRIMARY KEY (id, name)
                   )''' 

#FOREIGN KEY(postcode) REFERENCES Postcodes(postcode)
#health services data has more than one hospital in a postcode
#ex 2 hospitals for postcode 2229

conn.execute(healthservices_schema)

In [859]:
healthservices_data = pd.read_csv('HealthServices.csv')
healthservices_data['num_beds'] = healthservices_data['num_beds'].fillna(0).astype(int)
healthservices_data.shape

(3026, 12)

In [860]:
tqdm._instances.clear()

In [861]:
table_name = "healthservices"
for chunk in tqdm(range(0, healthservices_data.shape[0], 50)):
    healthservices_data.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

  7%|▋         | 8/113 [04:19<56:46, 32.45s/it]
100%|██████████| 61/61 [15:26<00:00, 15.18s/it]

In [513]:
res = pd.read_sql_query("SELECT * FROM Healthservices",conn)
res

,id,name,category,num_beds,address,suburb,state,postcode,longitude,latitude,comment,website
0,0,Double Bay Day Hospital,Hospital,0,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,2028,151.243927,-33.877655,None,https://dbdh.com.au/
1,1,Canterbury Hospital,Hospital,217,575 Canterbury Road,CAMPSIE,NSW,2194,151.098679,-33.919415,Canterbury Hospital is a metropolitan hospital...,http://www.slhd.nsw.gov.au/
2,2,Cudal Health Service,Hospital,0,23 Toogong Street,CUDAL,NSW,2864,148.743500,-33.285751,This service is strictly available on Tuesday ...,http://www.wnswlhd.health.nsw.gov.au/
3,3,Sydney Surgical Centre - Randwick,Hospital,0,166-168 Belmore Road,RANDWICK,NSW,2031,151.240784,-33.916943,None,None
4,4,Tumut District Hospital,Hospital,34,107 Simpson Street,TUMUT,NSW,2720,148.220139,-35.306690,Tumut Health Service includes a 34 bed hospita...,http://www.mlhd.health.nsw.gov.au/
...,...,...,...,...,...,...,...,...,...,...,...,...
3021,3712,Seoul Family Medical Clinic,General Practice/GP,0,48 South Parade,CAMPSIE,NSW,2194,151.104355,-33.910736,Closed weekends and public holidays.,None
3022,3713,Top Ryde Medical Centre,General Practice/GP,0,46 Blaxland Road,RYDE,NSW,2112,151.107178,-33.814907,walk-in accepted,None
3023,3714,Bogan Shire Medical Centre,General Practice/GP,0,76C Pangee Street,NYNGAN,NSW,2825,147.195343,-31.562189,"Services include: GP consultations, Acute appo...",http://www.bogan.nsw.gov.au/services-facilitie...
3024,3715,Practice of Dr K Ahluwalia,General Practice/GP,0,29 Kinarra Avenue,WYOMING,NSW,2250,151.352402,-33.405468,New patients welcome. After-Hours Arrangemen...,None
3025,3716,Medical Focus,General Practice/GP,0,"Level 2 Suite 2, 11 The Boulevarde",STRATHFIELD,NSW,2135,151.093308,-33.873039,No longer accepting new patients.,None

In [564]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS StatisticalAreas")

#creating schema healthservices
staticalareas_schema = '''CREATE TABLE StatisticalAreas (
    area_id VARCHAR(10)  NOT NULL,
    area_name VARCHAR NOT NULL,
    parent_area_id VARCHAR(7),
    PRIMARY KEY(area_id, area_name),
    FOREIGN KEY(area_id) REFERENCES Neighbourhoods(area_id))'''

conn.execute(staticalareas_schema)

In [565]:
import pandas as pd
areastats_data = pd.read_csv('StatisticalAreas.csv')

table_name = "statisticalareas"
areastats_data.to_sql(table_name, con=conn, if_exists='append',index=False)

In [566]:
res = pd.read_sql_query("SELECT * FROM StatisticalAreas",conn)
res

       area_id                              area_name parent_area_id
0            1                        New South Wales              0
1           10                         Greater Sydney              1
2           11                            Rest of NSW              1
3            2                               Victoria              0
4           20                      Greater Melbourne              2
..         ...                                    ...            ...
409  128021608                   Loftus - Yarrawarrah          12802
410  128021609                       Woronora Heights          12802
411        197  Migratory - Offshore - Shipping (NSW)          19799
412      19797  Migratory - Offshore - Shipping (NSW)            197
413  197979799  Migratory - Offshore - Shipping (NSW)          19797

[414 rows x 3 columns]

In [574]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Testsites")

#creating schema Testsites
Testsites_schema = '''CREATE TABLE Testsites (   
    site_id INTEGER NOT NULL,
    "Centre name" VARCHAR,
    "Phone number" VARCHAR,
    "Opening hours" VARCHAR,
    longitude FLOAT,
    latitude FLOAT,
    test_capacity INTEGER,
    PRIMARY KEY (site_id, "Centre name") )'''

conn.execute(Testsites_schema)

In [575]:
testsites_data = pd.read_csv('covid19_nsw_testsites_simulated_capacity.csv', index_col="site_id")

table_name = "testsites"
testsites_data.to_sql(table_name, con=conn, if_exists='append',index=True)

In [576]:
res = pd.read_sql_query("SELECT * FROM Testsites",conn)
res

,site_id,Centre name,Phone number,Opening hours,longitude,latitude,test_capacity
0,0,4Cyte Pathology Camden (Drive-through clinic),0468 597 821,Mon to Fri: 9am - 5pm,151.200443,-33.901431,70
1,1,4Cyte Pathology Newcastle (Drive-through clinic),02 4950 2200,-,151.200443,-33.901431,100
2,2,4Cyte Pathology North Blacktown (Drive-through...,0434 925 593,"Mon to Fri: 9am-5pm, Sat & Sun: 11am-2pm",150.911979,-33.774017,70
3,3,4Cyte Pathology North Ryde (Drive-through clinic),0466 636 034,"Mon to Fri: 8am 6pm, Sat: 9am-5pm, Sun: 9am-2pm",151.200443,-33.901431,70
4,4,4Cyte Pathology Stanmore (Drive-through clinic),0435 085 052,"Mon to Fri: 9am - 6pm, Sat: 9am - 2pm",151.200443,-33.901431,50
...,...,...,...,...,...,...,...
107,107,Penrith Respiratory Clinic,-,Book an appointment online,150.670735,-33.769897,60
108,108,Mittagong Respiratory Clinic,(02) 4800 9032,Book an appointment online,150.440870,-34.452329,60
109,109,Raymond Terrace Respiratory Clinic,(02) 4938 0900,Book an appointment online,151.737931,-32.764694,70
110,110,Wagga Wagga Respiratory Clinic,-,Book an appointment online,151.200443,-33.901431,50
111,111,Murwillumbah Respiratory Clinic,-,Book an appointment online,153.394023,-28.329027,50

In [747]:
#reading in json file using pandas
df = pd.read_json('Travel.json', orient='columns')
df.head()

      origin                                       destinations
0  101011001  [{'destination': 101011001, 'people': 7378}, {...
1  101011002  [{'destination': 101011001, 'people': 754}, {'...
2  101011003  [{'destination': 101011001, 'people': 12}, {'d...
3  101011004  [{'destination': 101011001, 'people': 0}, {'de...
4  101011005  [{'destination': 101011001, 'people': 0}, {'de...

In [709]:
#use lambda to create new dataframes of the destination and assign the columns to be origin, destination, people.
#to list creates a lkist of these data frames and then they are all concatenated together to the original dataframe

df = pd.concat(df.apply(lambda x: pd.DataFrame(x['destinations']).assign(origin=x['origin']), axis=1).tolist())

#reset index
df = df.reset_index(drop=True)
df.head()

   destination  people     origin
0    101011001    7378  101011001
1    101011002     120  101011001
2    101011002       8  101011001
3    101011002     285  101011001
4    101011003       7  101011001

In [732]:
#turning file into csv using pandas
#csv_data = df.to_csv('Travel.csv', index=False)

In [755]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Travel")

#creating schema population
Travel_schema = '''CREATE TABLE Travel (
origin VARCHAR(10) NOT NULL primary key,
destinations VARCHAR NOT NULL)'''

conn.execute(Travel_schema)

In [739]:
#Travel_data = pd.read_csv('Travel.csv')
#Travel_data['people'] = Travel_data['people'].fillna(0).astype(int)

In [744]:
tqdm._instances.clear()

In [750]:
df['destinations'] = df['destinations'].astype(str)

In [756]:
table_name = "travel"
for chunk in tqdm(range(0, df.shape[0], 50)):
    df.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

100%|██████████| 39/39 [05:49<00:00,  8.95s/it]

In [758]:
res = pd.read_sql_query("SELECT * FROM Travel",conn)
res

         origin                                       destinations
0     101011001  [{'destination': 101011001, 'people': 7378}, {...
1     101011002  [{'destination': 101011001, 'people': 754}, {'...
2     101011003  [{'destination': 101011001, 'people': 12}, {'d...
3     101011004  [{'destination': 101011001, 'people': 0}, {'de...
4     101011005  [{'destination': 101011001, 'people': 0}, {'de...
...         ...                                                ...
1901  801091107  [{'destination': 101021009, 'people': 4}, {'de...
1902  801091108  [{'destination': 101011003, 'people': 4}, {'de...
1903  801091109  [{'destination': 101021008, 'people': 3}, {'de...
1904  801091110  [{'destination': 101021009, 'people': 4}, {'de...
1905  899999499  [{'destination': 101021009, 'people': 3}, {'de...

[1906 rows x 2 columns]

In [439]:
neighbourhoods_data.head()

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses,median_annual_household_income,avg_monthly_rent
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738,46996,1906
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907,42621,1682
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102,42105,1182
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666,43481,1595
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126,45972,1382

In [473]:
from shapely.geometry import Point
import geopandas as gpd
data_path = ""
Aust_gdp = gpd.read_file(os.path.join(data_path,"SA2_2016_AUST.shp"))
print("#shapes: ", len(Aust_gdp))

#shapes:  2310

In [ ]:
#iterate through its ShapeRecords and print each record, 
#as well as which shape type it has and how many points the shape has.
for _, x in Aust_gdp.iterrows():
    print("#SA2_NAME16: ", x['SA2_NAME16'])
    if x['geometry']:
        print("#geom_type: ", x['geometry'].geom_type)

        if x['geometry'].geom_type == 'MultiPolygon':
            n = 0
            for poly in x['geometry']:
                n += len(poly.exterior.coords)
        else:
            n = len(x['geometry'].exterior.coords)
        print("#number of points: ", n)

In [474]:
Aust_gdp.head()

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4..."
1,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825,"POLYGON ((149.21898 -35.36739, 149.21799 -35.3..."
2,101021009,11009,Queanbeyan,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,4.7634,"POLYGON ((149.21325 -35.34325, 149.21619 -35.3..."
3,101021010,11010,Queanbeyan - East,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,13.0034,"POLYGON ((149.24033 -35.34782, 149.24023 -35.3..."
4,101021011,11011,Queanbeyan Region,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3054.4099,"POLYGON ((149.23580 -35.38738, 149.23771 -35.3..."

In [475]:
healthservices_gdp = gpd.GeoDataFrame(healthservices_data, 
                                      geometry=gpd.points_from_xy(healthservices_data.longitude, 
                                                                  healthservices_data.latitude), 
                                      crs={'init': 'epsg:4283'})

In [476]:
healthservices_gdp.head()

,id,name,category,num_beds,address,suburb,state,postcode,longitude,latitude,comment,website,geometry
0,0,Double Bay Day Hospital,Hospital,0,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,2028,151.243927,-33.877655,NaN,https://dbdh.com.au/,POINT (151.24393 -33.87766)
1,1,Canterbury Hospital,Hospital,217,575 Canterbury Road,CAMPSIE,NSW,2194,151.098679,-33.919415,Canterbury Hospital is a metropolitan hospital...,http://www.slhd.nsw.gov.au/,POINT (151.09868 -33.91941)
2,2,Cudal Health Service,Hospital,0,23 Toogong Street,CUDAL,NSW,2864,148.743500,-33.285751,This service is strictly available on Tuesday ...,http://www.wnswlhd.health.nsw.gov.au/,POINT (148.74350 -33.28575)
3,3,Sydney Surgical Centre - Randwick,Hospital,0,166-168 Belmore Road,RANDWICK,NSW,2031,151.240784,-33.916943,NaN,NaN,POINT (151.24078 -33.91694)
4,4,Tumut District Hospital,Hospital,34,107 Simpson Street,TUMUT,NSW,2720,148.220139,-35.306690,Tumut Health Service includes a 34 bed hospita...,http://www.mlhd.health.nsw.gov.au/,POINT (148.22014 -35.30669)

In [477]:
Aust_gdp = Aust_gdp.dropna(subset=['geometry'])

In [553]:
testsites_gdp = gpd.GeoDataFrame(testsites_data, 
                                      geometry=gpd.points_from_xy(testsites_data.longitude, 
                                                                  testsites_data.latitude), 
                                      crs={'init': 'epsg:4283'})

In [554]:
testsites_gdp.head()

,site_id,Centre name,Phone number,Opening hours,longitude,latitude,test_capacity,geometry
0,0,4Cyte Pathology Camden (Drive-through clinic),0468 597 821,Mon to Fri: 9am - 5pm,151.200443,-33.901431,70,POINT (151.20044 -33.90143)
1,1,4Cyte Pathology Newcastle (Drive-through clinic),02 4950 2200,-,151.200443,-33.901431,100,POINT (151.20044 -33.90143)
2,2,4Cyte Pathology North Blacktown (Drive-through...,0434 925 593,"Mon to Fri: 9am-5pm, Sat & Sun: 11am-2pm",150.911979,-33.774017,70,POINT (150.91198 -33.77402)
3,3,4Cyte Pathology North Ryde (Drive-through clinic),0466 636 034,"Mon to Fri: 8am 6pm, Sat: 9am-5pm, Sun: 9am-2pm",151.200443,-33.901431,70,POINT (151.20044 -33.90143)
4,4,4Cyte Pathology Stanmore (Drive-through clinic),0435 085 052,"Mon to Fri: 9am - 6pm, Sat: 9am - 2pm",151.200443,-33.901431,50,POINT (151.20044 -33.90143)

In [478]:
healthservices_gdp = gpd.sjoin(healthservices_gdp , neighboorhood_gdp[['SA2_MAIN16', 'geometry']], op='within')
healthservices_gdp.head()

,id,name,category,num_beds,address,suburb,state,postcode,longitude,latitude,comment,website,geometry,index_right,SA2_MAIN16
0,0,Double Bay Day Hospital,Hospital,0,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,2028,151.243927,-33.877655,NaN,https://dbdh.com.au/,POINT (151.24393 -33.87766),353,118011343
353,1044,Dr D Hameiri - General Practice,General Practice/GP,0,2 Cooper Street,DOUBLE BAY,NSW,2028,151.241013,-33.877491,NaN,NaN,POINT (151.24101 -33.87749),353,118011343
674,1365,Double Bay Doctors,General Practice/GP,0,422 New South Head Road,DOUBLE BAY,NSW,2028,151.244827,-33.876919,After-Hours Arrangements: Please call Double ...,www.doublebaydoctors.com,POINT (151.24483 -33.87692),353,118011343
1253,1944,Victoria Road Family Practice,General Practice/GP,0,182 Victoria Road,BELLEVUE HILL,NSW,2023,151.259094,-33.885975,After-Hours Arrangements: Please call Sydney ...,NaN,POINT (151.25909 -33.88597),353,118011343
1477,2168,Cooper Street Clinic,General Practice/GP,0,1 Cooper Street,DOUBLE BAY,NSW,2028,151.240738,-33.877075,NaN,www.cooperstreetclinic.com.au,POINT (151.24074 -33.87708),353,118011343

In [789]:
testsites_gdp = gpd.sjoin(testsites_gdp , neighboorhood_gdp[['SA2_MAIN16', 'geometry']], op='within')
testsites_gdp.head()

,site_id,Centre name,Phone number,Opening hours,longitude,latitude,test_capacity,geometry,index_right,SA2_MAIN16
0,0,4Cyte Pathology Camden (Drive-through clinic),0468 597 821,Mon to Fri: 9am - 5pm,151.200443,-33.901431,70,POINT (151.20044 -33.90143),340,117031330
1,1,4Cyte Pathology Newcastle (Drive-through clinic),02 4950 2200,-,151.200443,-33.901431,100,POINT (151.20044 -33.90143),340,117031330
3,3,4Cyte Pathology North Ryde (Drive-through clinic),0466 636 034,"Mon to Fri: 8am 6pm, Sat: 9am-5pm, Sun: 9am-2pm",151.200443,-33.901431,70,POINT (151.20044 -33.90143),340,117031330
4,4,4Cyte Pathology Stanmore (Drive-through clinic),0435 085 052,"Mon to Fri: 9am - 6pm, Sat: 9am - 2pm",151.200443,-33.901431,50,POINT (151.20044 -33.90143),340,117031330
6,6,Canada Bay (Drive-through clinic),-,8:30am - 4pm Daily,151.200443,-33.901431,80,POINT (151.20044 -33.90143),340,117031330

In [800]:
combined = healthservices_gdp.merge(testsites_gdp, on='SA2_MAIN16', suffixes=['_h', '_t'])

In [801]:
combined.head()

,id,name,category,num_beds,address,suburb,state,postcode,longitude_h,latitude_h,...,SA2_MAIN16,site_id,Centre name,Phone number,Opening hours,longitude_t,latitude_t,test_capacity,geometry_t,index_right_t
0,0,Double Bay Day Hospital,Hospital,0,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,2028,151.243927,-33.877655,...,118011343,7,Double Bay Doctors (Drive-through clinic),(02) 9328 3100,2.00 - 4.30 pm Monday to Friday,151.242966,-33.876104,60,POINT (151.24297 -33.87610),353
1,1044,Dr D Hameiri - General Practice,General Practice/GP,0,2 Cooper Street,DOUBLE BAY,NSW,2028,151.241013,-33.877491,...,118011343,7,Double Bay Doctors (Drive-through clinic),(02) 9328 3100,2.00 - 4.30 pm Monday to Friday,151.242966,-33.876104,60,POINT (151.24297 -33.87610),353
2,1365,Double Bay Doctors,General Practice/GP,0,422 New South Head Road,DOUBLE BAY,NSW,2028,151.244827,-33.876919,...,118011343,7,Double Bay Doctors (Drive-through clinic),(02) 9328 3100,2.00 - 4.30 pm Monday to Friday,151.242966,-33.876104,60,POINT (151.24297 -33.87610),353
3,1944,Victoria Road Family Practice,General Practice/GP,0,182 Victoria Road,BELLEVUE HILL,NSW,2023,151.259094,-33.885975,...,118011343,7,Double Bay Doctors (Drive-through clinic),(02) 9328 3100,2.00 - 4.30 pm Monday to Friday,151.242966,-33.876104,60,POINT (151.24297 -33.87610),353
4,2168,Cooper Street Clinic,General Practice/GP,0,1 Cooper Street,DOUBLE BAY,NSW,2028,151.240738,-33.877075,...,118011343,7,Double Bay Doctors (Drive-through clinic),(02) 9328 3100,2.00 - 4.30 pm Monday to Friday,151.242966,-33.876104,60,POINT (151.24297 -33.87610),353

In [193]:
conn.close()