In [493]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
import pandas as pd

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'gjan5558'
    YOUR_PW     = '500346291'
    DB_LOGIN    = 'y20s1d2x01_'+YOUR_UNIKEY

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

In [494]:
db,conn = pgconnect()

connected

In [499]:
#if you want to reset the table
conn.execute ("DROP TABLE IF EXISTS Neighbourhoods")

# number_of_business, media_annual_household_income, and avg_monthly_rent are missing some data
#replace with 0

#creating schema neighbourhoods
neighbourhoods_schema = '''CREATE TABLE IF NOT EXISTS Neighbourhoods (
                   area_id VARCHAR(20)  NOT NULL,
                   area_name VARCHAR(50) NOT NULL,
                   land_area FLOAT,
                   population Integer,
                   number_of_dwellings Integer,
                   number_of_businesses Integer,
                   median_annual_household_income Integer,
                   avg_monthly_rent Integer,
                   PRIMARY KEY(area_id, area_name))'''

#taken from data line
#102011028,Avoca Beach - Copacabana,643.8,7590,2325,738,46996,1906
    
conn.execute(neighbourhoods_schema)
print(db.table_names())

['measurementswk4', 'programming', 'measurementwk4', 'MeasurementWk4', 'spatial_ref_sys', 'healthservices', 'neighbourhoods', 'measurements', 'observations', 'world', 'organisations']

In [500]:
neighbourhoods_data = pd.read_csv('Neighbourhoods.csv')

neighbourhoods_data['number_of_businesses'] = neighbourhoods_data['number_of_businesses'].fillna(0).astype(int)
neighbourhoods_data['median_annual_household_income'] = neighbourhoods_data['median_annual_household_income'].fillna(0).astype(int)
neighbourhoods_data['avg_monthly_rent'] = neighbourhoods_data['avg_monthly_rent'].fillna(0).astype(int)

table_name = "neighbourhoods"
neighbourhoods_data.to_sql(table_name, con=conn, if_exists='append', index=False)

In [501]:
res = pd.read_sql_query("SELECT * FROM Neighbourhoods",conn)
res

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses,median_annual_household_income,avg_monthly_rent
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738,46996,1906
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907,42621,1682
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102,42105,1182
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666,43481,1595
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126,45972,1382
...,...,...,...,...,...,...,...,...
307,128021537,Royal National Park,13933.4,28.0,4,3,0,1899
308,128021538,Sutherland - Kirrawee,775.5,21760.0,6924,2086,53378,1809
309,128021607,Engadine,895.4,17424.0,5219,1121,52667,1955
310,128021608,Loftus - Yarrawarrah,384.4,7426.0,2177,417,51243,2163
311,128021609,Woronora Heights,313.7,3681.0,1050,259,54935,2300

In [504]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Healthservices")

#some comments, websites and num_beds are empty
#replace with Nan or 0

#creating schema healthservices
healthservices_schema = '''CREATE TABLE Healthservices (
                   id INTEGER NOT NULL,
                   name VARCHAR NOT NULL,
                   category VARCHAR,
                   num_beds INTEGER,
                   address VARCHAR,
                   suburb VARCHAR,
                   state VARCHAR(3),
                   postcode VARCHAR(4),
                   longitude FLOAT,
                   latitude FLOAT,
                   comment VARCHAR,
                   website VARCHAR,
                   PRIMARY KEY (id, name))''' 

#postcode references Postcodes postcode,

#0,Double Bay Day Hospital,Hospital,,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,
#2028,151.243927,-33.87765503,,https://dbdh.com.au/

conn.execute(healthservices_schema)

In [507]:
healthservices_data = pd.read_csv('HealthServices.csv')
healthservices_data['num_beds'] = healthservices_data['num_beds'].fillna(0).astype(int)
healthservices_data.shape

(3026, 12)

In [508]:
healthservices_data.loc[400,:]

id                                                        1091
name         Bulgarr Ngaru Medical Aboriginal Corporation -...
category                                   General Practice/GP
num_beds                                                     0
address                                  153 Canterbury Street
suburb                                                  CASINO
state                                                      NSW
postcode                                                  2470
longitude                                              153.047
latitude                                              -28.8632
comment      This is an Aboriginal Community Controlled Hea...
website                                   http://bnmac.com.au/
Name: 400, dtype: object

In [509]:
from tqdm import tqdm

In [510]:
table_name = "healthservices"
for chunk in tqdm(range(0, healthservices_data.shape[0], 50)):
    healthservices_data.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

  0%|          | 0/61 [00:00<?, ?it/s]
  2%|▏         | 1/61 [00:09<09:19,  9.33s/it]
  3%|▎         | 2/61 [00:18<09:10,  9.33s/it]
  5%|▍         | 3/61 [00:29<09:27,  9.79s/it]
  7%|▋         | 4/61 [00:39<09:26,  9.93s/it]
  8%|▊         | 5/61 [00:50<09:21, 10.02s/it]
 10%|▉         | 6/61 [00:59<08:55,  9.73s/it]
 11%|█▏        | 7/61 [01:09<08:57,  9.95s/it]
 13%|█▎        | 8/61 [01:18<08:36,  9.74s/it]
 15%|█▍        | 9/61 [01:29<08:48, 10.16s/it]
 16%|█▋        | 10/61 [01:39<08:32, 10.05s/it]
 18%|█▊        | 11/61 [01:49<08:15,  9.91s/it]
 20%|█▉        | 12/61 [01:58<07:56,  9.72s/it]
 21%|██▏       | 13/61 [02:09<08:02, 10.06s/it]
 23%|██▎       | 14/61 [02:19<07:57, 10.17s/it]
 25%|██▍       | 15/61 [02:30<08:00, 10.45s/it]
 26%|██▌       | 16/61 [02:40<07:41, 10.26s/it]
 28%|██▊       | 17/61 [02:50<07:25, 10.12s/it]
 30%|██▉       | 18/61 [02:59<06:59,  9.76s/it]
 31%|███       | 19/61 [03:10<07:04, 10.11s/it]
 33%|███▎      | 20/61 [03:22<07:15, 10.61s/it]
 34%|███▍      | 21/61 [03:33<07:08, 10.71s/it]
 36%|███▌      | 22/61 [03:43<06:55, 10.65s/it]
 38%|███▊      | 23/61 [03:53<06:35, 10.41s/it]
 39%|███▉      | 24/61 [04:03<06:24, 10.39s/it]
 41%|████      | 25/61 [04:13<06:09, 10.28s/it]
 43%|████▎     | 26/61 [04:22<05:45,  9.88s/it]
 44%|████▍     | 27/61 [04:31<05:28,  9.67s/it]
 46%|████▌     | 28/61 [04:41<05:17,  9.64s/it]
 48%|████▊     | 29/61 [04:50<05:05,  9.56s/it]
 49%|████▉     | 30/61 [05:00<04:53,  9.47s/it]
 51%|█████     | 31/61 [05:10<04:49,  9.66s/it]
 52%|█████▏    | 32/61 [05:20<04:41,  9.70s/it]
 54%|█████▍    | 33/61 [05:29<04:28,  9.59s/it]
 56%|█████▌    | 34/61 [05:39<04:24,  9.81s/it]
 57%|█████▋    | 35/61 [05:49<04:17,  9.89s/it]
 59%|█████▉    | 36/61 [06:00<04:13, 10.14s/it]
 61%|██████    | 37/61 [06:09<03:55,  9.80s/it]
 62%|██████▏   | 38/61 [06:19<03:47,  9.88s/it]
 64%|██████▍   | 39/61 [06:30<03:41, 10.06s/it]
 66%|██████▌   | 40/61 [06:39<03:28,  9.91s/it]
 67%|██████▋   | 41/61 [06:49<03:14,  9.74s/it]
 69%|██████▉   | 42/61 [06:58<03:03,  9.67s/it]
 70%|███████   | 43/61 [07:07<02:52,  9.57s/it]
 72%|███████▏  | 44/61 [07:18<02:47,  9.83s/it]
 74%|███████▍  | 45/61 [07:29<02:44, 10.28s/it]
 75%|███████▌  | 46/61 [07:40<02:34, 10.33s/it]
 77%|███████▋  | 47/61 [07:49<02:19,  9.97s/it]
 79%|███████▊  | 48/61 [07:58<02:07,  9.83s/it]
 80%|████████  | 49/61 [08:08<01:59,  9.94s/it]
 82%|████████▏ | 50/61 [08:18<01:48,  9.86s/it]
 84%|████████▎ | 51/61 [08:29<01:42, 10.29s/it]
 85%|████████▌ | 52/61 [08:40<01:33, 10.36s/it]
 87%|████████▋ | 53/61 [08:49<01:19,  9.95s/it]
 89%|████████▊ | 54/61 [08:59<01:09,  9.97s/it]
 90%|█████████ | 55/61 [09:11<01:04, 10.75s/it]
 92%|█████████▏| 56/61 [09:22<00:53, 10.62s/it]
 93%|█████████▎| 57/61 [09:31<00:40, 10.19s/it]
 95%|█████████▌| 58/61 [09:40<00:29,  9.88s/it]
 97%|█████████▋| 59/61 [09:49<00:19,  9.72s/it]
 98%|█████████▊| 60/61 [09:59<00:09,  9.67s/it]
100%|██████████| 61/61 [10:04<00:00,  9.91s/it]

In [513]:
res = pd.read_sql_query("SELECT * FROM Healthservices",conn)
res

,id,name,category,num_beds,address,suburb,state,postcode,longitude,latitude,comment,website
0,0,Double Bay Day Hospital,Hospital,0,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,2028,151.243927,-33.877655,None,https://dbdh.com.au/
1,1,Canterbury Hospital,Hospital,217,575 Canterbury Road,CAMPSIE,NSW,2194,151.098679,-33.919415,Canterbury Hospital is a metropolitan hospital...,http://www.slhd.nsw.gov.au/
2,2,Cudal Health Service,Hospital,0,23 Toogong Street,CUDAL,NSW,2864,148.743500,-33.285751,This service is strictly available on Tuesday ...,http://www.wnswlhd.health.nsw.gov.au/
3,3,Sydney Surgical Centre - Randwick,Hospital,0,166-168 Belmore Road,RANDWICK,NSW,2031,151.240784,-33.916943,None,None
4,4,Tumut District Hospital,Hospital,34,107 Simpson Street,TUMUT,NSW,2720,148.220139,-35.306690,Tumut Health Service includes a 34 bed hospita...,http://www.mlhd.health.nsw.gov.au/
...,...,...,...,...,...,...,...,...,...,...,...,...
3021,3712,Seoul Family Medical Clinic,General Practice/GP,0,48 South Parade,CAMPSIE,NSW,2194,151.104355,-33.910736,Closed weekends and public holidays.,None
3022,3713,Top Ryde Medical Centre,General Practice/GP,0,46 Blaxland Road,RYDE,NSW,2112,151.107178,-33.814907,walk-in accepted,None
3023,3714,Bogan Shire Medical Centre,General Practice/GP,0,76C Pangee Street,NYNGAN,NSW,2825,147.195343,-31.562189,"Services include: GP consultations, Acute appo...",http://www.bogan.nsw.gov.au/services-facilitie...
3024,3715,Practice of Dr K Ahluwalia,General Practice/GP,0,29 Kinarra Avenue,WYOMING,NSW,2250,151.352402,-33.405468,New patients welcome. After-Hours Arrangemen...,None
3025,3716,Medical Focus,General Practice/GP,0,"Level 2 Suite 2, 11 The Boulevarde",STRATHFIELD,NSW,2135,151.093308,-33.873039,No longer accepting new patients.,None

In [ ]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Postcodes")

#creating schema healthservices
Postcodes_schema = '''CREATE TABLE Postcodes (
    id VARCHAR(6) NOT NULL,
    postcode VARCHAR(6) NOT NULL,
    locality VARCHAR,
    longitude FLOAT,
    latitude FLOAT,
    PRIMARY KEY(id, postcode))'''

conn.execute(Postcodes_schema)

In [ ]:
postcodes_data = pd.read_csv('NSW_Postcodes.csv', index_col="id")

table_name = "postcodes"
for chunk in tqdm(range(0, Travel_data.shape[0], 50)):
    Travel_data.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

In [ ]:
res = pd.read_sql_query("SELECT * FROM postcodes",conn)
res

In [ ]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS StatisticalAreas")

#creating schema healthservices
staticalareas_schema = '''CREATE TABLE StatisticalAreas (
    area_id VARCHAR(20)  NOT NULL,
    area_name VARCHAR(20) NOT NULL,
    parent_area_id VARCHAR(20),
    PRIMARY KEY(area_id, area_name))'''

conn.execute(staticalareas_schema)

In [ ]:
import pandas as pd
areastats_data = pd.read_csv('StatisticalAreas.csv')

table_name = "statisticalareas"
areastats_data.to_sql(table_name, con=conn, if_exists='append',index=False)

In [ ]:
res = pd.read_sql_query("SELECT * FROM StatisticalAreas",conn)
res

In [ ]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Testsites")

#some opening hours and phone numbers are empty
#replace with NaN

#creating schema Testsites
Testsites_schema = '''CREATE TABLE Testsites (   
    site_id INTEGER NOT NULL,
    Centre name VARCHAR(50),
    Phone number VARCHAR(10),
    Opening hours VARCHAR(60),
    longitude FLOAT,
    latitude FLOAT,
    test_capacity INTEGER,
    PRIMARY KEY (site_id, Centre_name) )'''

#0,4Cyte Pathology Camden (Drive-through clinic),0468 597 821,Mon to Fri: 9am - 5pm,151.2004433,-33.9014313,70
conn.execute(Testsites_schema)

In [289]:
testsites_data = pd.read_csv('covid19_nsw_testsites_simulated_capacity.csv')

table_name = "testsites"
testsites_data.to_sql(table_name, con=conn, if_exists='append',index=False)

OperationalError: (psycopg2.errors.AdminShutdown) terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s]
[parameters: {'name': 'testsites'}]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
res = pd.read_sql_query("SELECT * FROM Testsites",conn)
res

In [114]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Population")

#creating schema population
Population_schema = '''CREATE TABLE Population (   
   area_id VARCHAR(20) NOT NULL,
   area_name VARCHAR(20) NOT NULL,
   0-4 INTEGER,
   5-9 INTEGER,
   10-14 INTEGER,
   15-19 INTEGER,
   20-24 INTEGER,
   25-29 INTEGER,
   30-34 INTEGER,
   35-39 INTEGER,
   40-44 INTEGER,
   45-49 INTEGER,
   50-54 INTEGER,
   55-59 INTEGER,
   60-64 INTEGER,
   65-69 INTEGER,
   70-74 INTEGER,
   75-79 INTEGER,
   80-84 INTEGER,
   85_and_over INTEGER,
   total_persons INTEGER,
   females INTEGER,
   males INTEGER,
   PRIMARY KEY (area_id, area_name))
   '''
conn.execute(Population_schema)

In [ ]:
population_data = pd.read_csv('PopulationStats2016.csv')

table_name = "population"
population_data.to_sql(table_name, con=conn, if_exists='append', index=False)

In [ ]:
res = pd.read_sql_query("SELECT * FROM Population",conn)
res

In [482]:
df = pd.read_json('Travel.json', orient='columns')
df.head()

      origin                                       destinations
0  101011001  [{'destination': 101011001, 'people': 7378}, {...
1  101011002  [{'destination': 101011001, 'people': 754}, {'...
2  101011003  [{'destination': 101011001, 'people': 12}, {'d...
3  101011004  [{'destination': 101011001, 'people': 0}, {'de...
4  101011005  [{'destination': 101011001, 'people': 0}, {'de...

In [483]:
df = pd.concat(df.apply(lambda x: pd.DataFrame(x['destinations']).assign(origin=x['origin']), axis=1).tolist())
df = df.reset_index(drop=True)
df.head()

   destination  people     origin
0    101011001    7378  101011001
1    101011002     120  101011001
2    101011002       8  101011001
3    101011002     285  101011001
4    101011003       7  101011001

In [488]:
#turning file into csv using pandas
csv_data = df.to_csv('Travel.csv', index=False)

In [ ]:
# if you want to reset the table
conn.execute("DROP TABLE IF EXISTS Travel")

#creating schema population
Travel_schema = '''CREATE TABLE Travel (   
   destination VARCHAR(10) NOT NULL,
   origin VARCHAR(10),
   people INTEGER,
   PRIMARY KEY (destination))'''

conn.execute(Travel_schema)

In [ ]:
Travel_data = pd.read_csv('Travel.csv')
Travel_data['people'] = Travel_data['people'].fillna(0).astype(int)

In [ ]:
Travel_data.loc[400,:]

In [ ]:
table_name = "travel"
for chunk in tqdm(range(0, Travel_data.shape[0], 50)):
    Travel_data.loc[chunk:chunk+49,:].to_sql(table_name, con=conn, if_exists='append', index=False)

In [ ]:
res = pd.read_sql_query("SELECT * FROM Travel",conn)
res

In [439]:
neighbourhoods_data.head()

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses,median_annual_household_income,avg_monthly_rent
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738,46996,1906
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907,42621,1682
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102,42105,1182
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666,43481,1595
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126,45972,1382

In [473]:
from shapely.geometry import Point
import geopandas as gpd
data_path = ""
neighboorhood_gdp = gpd.read_file(os.path.join(data_path,"SA2_2016_AUST.shp"))
print("#shapes: ", len(neighboorhood_gdp))

#shapes:  2310

In [474]:
neighboorhood_gdp.head()

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4..."
1,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825,"POLYGON ((149.21898 -35.36739, 149.21799 -35.3..."
2,101021009,11009,Queanbeyan,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,4.7634,"POLYGON ((149.21325 -35.34325, 149.21619 -35.3..."
3,101021010,11010,Queanbeyan - East,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,13.0034,"POLYGON ((149.24033 -35.34782, 149.24023 -35.3..."
4,101021011,11011,Queanbeyan Region,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3054.4099,"POLYGON ((149.23580 -35.38738, 149.23771 -35.3..."

In [475]:
healthservices_gdp = gpd.GeoDataFrame(healthservices_data, 
                                      geometry=gpd.points_from_xy(healthservices_data.longitude, 
                                                                  healthservices_data.latitude), 
                                      crs={'init': 'epsg:4283'})

In [476]:
healthservices_gdp.head()

,id,name,category,num_beds,address,suburb,state,postcode,longitude,latitude,comment,website,geometry
0,0,Double Bay Day Hospital,Hospital,0,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,2028,151.243927,-33.877655,NaN,https://dbdh.com.au/,POINT (151.24393 -33.87766)
1,1,Canterbury Hospital,Hospital,217,575 Canterbury Road,CAMPSIE,NSW,2194,151.098679,-33.919415,Canterbury Hospital is a metropolitan hospital...,http://www.slhd.nsw.gov.au/,POINT (151.09868 -33.91941)
2,2,Cudal Health Service,Hospital,0,23 Toogong Street,CUDAL,NSW,2864,148.743500,-33.285751,This service is strictly available on Tuesday ...,http://www.wnswlhd.health.nsw.gov.au/,POINT (148.74350 -33.28575)
3,3,Sydney Surgical Centre - Randwick,Hospital,0,166-168 Belmore Road,RANDWICK,NSW,2031,151.240784,-33.916943,NaN,NaN,POINT (151.24078 -33.91694)
4,4,Tumut District Hospital,Hospital,34,107 Simpson Street,TUMUT,NSW,2720,148.220139,-35.306690,Tumut Health Service includes a 34 bed hospita...,http://www.mlhd.health.nsw.gov.au/,POINT (148.22014 -35.30669)

In [477]:
neighboorhood_gdp = neighboorhood_gdp.dropna(subset=['geometry'])

In [ ]:
testsites_gdp = gpd.GeoDataFrame(testsites_data, 
                                      geometry=gpd.points_from_xy(testsites_data.longitude, 
                                                                  testsites_data.latitude), 
                                      crs={'init': 'epsg:4283'})

In [ ]:
testsites_gdp.head()

In [478]:
healthservices_gdp = gpd.sjoin(healthservices_gdp , neighboorhood_gdp[['SA2_MAIN16', 'geometry']], op='within')
healthservices_gdp.head()

,id,name,category,num_beds,address,suburb,state,postcode,longitude,latitude,comment,website,geometry,index_right,SA2_MAIN16
0,0,Double Bay Day Hospital,Hospital,0,"Level 2, 451 New South Head Road",DOUBLE BAY,NSW,2028,151.243927,-33.877655,NaN,https://dbdh.com.au/,POINT (151.24393 -33.87766),353,118011343
353,1044,Dr D Hameiri - General Practice,General Practice/GP,0,2 Cooper Street,DOUBLE BAY,NSW,2028,151.241013,-33.877491,NaN,NaN,POINT (151.24101 -33.87749),353,118011343
674,1365,Double Bay Doctors,General Practice/GP,0,422 New South Head Road,DOUBLE BAY,NSW,2028,151.244827,-33.876919,After-Hours Arrangements: Please call Double ...,www.doublebaydoctors.com,POINT (151.24483 -33.87692),353,118011343
1253,1944,Victoria Road Family Practice,General Practice/GP,0,182 Victoria Road,BELLEVUE HILL,NSW,2023,151.259094,-33.885975,After-Hours Arrangements: Please call Sydney ...,NaN,POINT (151.25909 -33.88597),353,118011343
1477,2168,Cooper Street Clinic,General Practice/GP,0,1 Cooper Street,DOUBLE BAY,NSW,2028,151.240738,-33.877075,NaN,www.cooperstreetclinic.com.au,POINT (151.24074 -33.87708),353,118011343

In [479]:
healthservices_gdp.shape

(3026, 15)

In [193]:
conn.close()